@model ProjetoNetCoreWebMVC.Models.ViewModels.SellerFormViewModel

@{ ViewData["Title"] = "Create"; }

@*<h2>@ViewData["Title"]</h2>*@

<!-- Modal -->
<div class="modal fade" id="sellerCreate" tabindex="-1" role="dialog" aria-labelledby="createSeller" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="createSeller">Criar Novo</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Create">
                    <input type="hidden" name="IsValid" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div class="form-group">
                        <label asp-for="Seller.Name" class="control-label"></label>
                        <input asp-for="Seller.Name" class="form-control" />
                        <span asp-validation-for="Seller.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Seller.Email" class="control-label"></label>
                        <input asp-for="Seller.Email" class="form-control" />
                        <span asp-validation-for="Seller.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Seller.BirthDate" class="control-label"></label>
                        <input asp-for="Seller.BirthDate" class="form-control" />
                        <span asp-validation-for="Seller.BirthDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Seller.BaseSalary" class="control-label"></label>
                        <input asp-for="Seller.BaseSalary" class="form-control" />
                        <span asp-validation-for="Seller.BaseSalary" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Seller.DepartmentId" class="control-label"></label>
                        <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments,"Id","Name"))" class="form-control"></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" data-save="modal">Salvar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
